body {
    font-family: Arial;
    text-align: center;
    background-color: lightgray;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

button {
    width: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}