body {
    font-family: Arial;
    text-align: center;
    background-color: lightgray;
}

.calculator {
    width: 320px;
    margin: 100px auto;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

h1 {
    color: darkblue;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

.result {
    margin: 20px;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.result p {
    font-size: 24px;
    font-weight: bold;
}